<html>
   <head>
        <title>Actividades</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/actividades.css">
        

    </head>
    
    <body>
        <header>
           
            <div class="contenedor">
               
                <h1 class=h1>Añoranzas Chaqueñas</h1>
                
                
                    <input type="checkbox" id = "menu-bar">
                    <label class = "icon-menu" for = "menu-bar"></label>
                
                <nav class = "menu">
                  <a href="/">Inicio</a>
                  <a href="/reserva">Reservas</a>
                  <a href="/actividades">Actividades</a>
                  <a href="/instalaciones">Instalaciones</a>
                  <a href="/contacto">Contacto</a>
                </nav>
            </div>
        </header>
        
        <main>

            <section class="actividades">
               
                               
               <div class="titulo">
                   
                   <h1>Actividades</h1>
                   
               </div>
               
               <div class="cabalgata">
                   
                   <div class="cabalgata-info">
                       
                       <h3>Cabalgata</h3>
                       <br>
                       <p>Se recorre distintos senderos, se charla sobre cuidado ambiental, se hace reconocimiento de huellas, identificación de la flora y fauna del lugar. Se cuenta con guías especialmente capacitados, y caballos adiestrados para este recorrido, las cabalgatas se transforman en una experiencia que invita a compartir la naturaleza en un paseo pleno de tranquilidad acompañados solamente por el murmullo de los pájaros y la brisa del viento entre los árboles. El paseo tiene una duración  de una hora de navegación y está disponible de 8.00 a 12.0hs y de 14.00 a 17.00 hs.</p>
                       
                   </div>
                   
                   <div class="cabalgata-img">
                       
                       <img src="img/cabalgata.jpg" alt="">
                       
                   </div>

               </div>
               
               <div class="paseo">
                    
                    <div class="paseo-img">
                        
                        <img src="img/paseo.jpg" alt="">
                        
                    </div>
                    
                    
                    <div class="paseo-info">
                        
                        <h3>Paseso Náuticos</h3>
                        <br>
                        <p>Este servicio ofrece la posibilidad de conocer el Paraná. Se trata de una embarcación de 9 metros de largo que permite transportar cómodamente a sus pasajeros, guía y tripulación. Esta embarcación supera ampliamente las necesidades para este servicio, otorgando la confiabilidad que se requiere y mucho más. El acompañamiento de un guía especializado asegura la correcta interpretación de todo lo que esta excusión tiene para mostrar. El embarcadero de esta actividad se encuentra junto al camping y área de servicios y es de muy fácil acceso, incluso para personas con movilidad reducida.
                        El paseo tiene una duración  de una hora de navegación y está disponible de 8.00 a 12.0hs y de 14.00 a 17.00 hs.
                        </p>
                        
                        
                    </div>
                    
                    
                    
                    
                </div>
                   
                <div class="pesca">
                    
                    
                    <div class="pesca-info">
                        
                        <h3>Pesca Deportiva</h3>
                        <br>
                        <p>Solamente se puede realizar  pesca deportiva y se deberá cumplir con las normas establecidas por la Dirección de Fauna y Áreas Protegidas de la Provincia del Chaco (documentación, tamaño de pescado y veda).  En caso de no contar con la documentación requerida no se podrá realizar esta actividad.</p>
                        
                    </div>
                    
                    <div class="pesca-img">
                        
                        <img src="img/pesca.jpg" alt="">
                        
                    </div>
                    
                    
                </div>
               
               
           </section>
            
        </main>
        
        
        <footer>
           
           <div class = "contenedor">
               
               <p>Decodex. Todos los derechos reservados &reg; 2019.</p>
               
               <div class="sociales">
                   
                   <a class="icon-twitter" href="#"></a>
                   <a class="icon-instagram" href="#"></a>
                   <a class="icon-facebook-squared" href="#"></a>
                   
               </div>

           </div>
            
        </footer>
        
    </body>
</html>