<html>
    <head>
         <title>Contacto</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/contactoAnoranza.css">
        

    </head>
    
    <body>
        <header>

            <div class="contenedor">

                    <h1>Añoranzas Chaqueñas</h1>

                    <input type="checkbox" id = "menu-bar">
                    <label class = "icon-menu" for = "menu-bar"></label>

                <nav class = "menu">
                    <a href="/">Inicio</a>
                    <a href="/reserva">Reservas</a>
                    <a href="/actividades">Actividades</a>
                    <a href="/instalaciones">Instalaciones</a>
                    <a href="/contacto">Contacto</a>

                </nav>
            </div>
        </header>

        <main>

            <form action="http://example.com" method="post" class="form">

                <section class="contacto">


                    <div class="datos">

                        <h3>Contacto</h3>


                        <div class="nombres">

                            <input type="text" class="nombre" placeholder="Nombre" id="nombre" name="nombre" required>

                        </div>

                        <div class="tel">

                            <input type="number" class="telefono" placeholder="Telefono" id="telef" name="tel" required>

                        </div>

                        <div class="correo">

                            <input type="email" class="mail" placeholder="E-mail" id="email" name="mail" required>

                        </div>

                        <div class="consulta">

                            <textarea name="consulta" rows="15" wrap="soft" class="texto" placeholder="Escriba su consulta..." id="consulta" required></textarea>

                        </div>

                        <div class="enviar">

                            <input type="submit" value="Enviar" class="boton">

                        </div>


                    </div>

                </section>

            </form>

        </main>

        <footer>

            <div class = "contenedor">

                <p><a href="https://booted-rifles.000webhostapp.com/index.html.html">Decodex</a>. Todos los derechos reservados &reg; 2019.</p>

                <div class="sociales">

                    <a class="icon-instagram" href="https://www.instagram.com/decodex_oficial/"></a>
                    <a class="icon-facebook-squared" href="https://www.facebook.com/Decodex-106447150711317/"></a>

                </div>

            </div>

        </footer>

    </body>
</html>