<!DOCTYPE html>
<html lang="en">
<head>
    <title>Añoranzas Chaqueñas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/inicioSesion.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/fontello.css">
    <script type="application/javascript" src="login.js"></script>


</head>
<body>
<header>

    <div class="contenedor">

        <h1>Añoranzas Chaqueñas</h1>

        <input type="checkbox" id = "menu-bar">
        <label class = "icon-menu" for = "menu-bar"></label>

        <nav class = "menu">
            <a href="/">Inicio</a>
            <a href="/reserva">Reservas</a>
            <a href="/actividades">Actividades</a>
            <a href="/instalaciones">Instalaciones</a>
            <a href="/contacto">Contacto</a>

        </nav>
    </div>
</header>

<main>



    <!--            <form class="form" onsubmit="loguear()" method="get" action="#">-->

    <form class="form" method="post" action="http://example.com">

        <div class="datos">

            <h1>Iniciar sesión</h1>

            <div class="mail">

                <input type="email" id="nombre" required placeholder="E-mail" name="mail">

            </div>


            <div class="pass">

                <input type="password" id="contra" required placeholder="Contraseña" name="pass">

            </div>

            <div class="recordar">

                <input type="checkbox" id="recor">Recordar usuario

            </div>



            <div class="iniciar">

                <input type="submit" id="ingresar" value="Ingresar">

            </div>

            <div class="extras">

                <div class="olvi">

                    <a href="" >¿Olvidaste la contraseña?</a>

                </div>

                <div class="registrar">

                    <a href="/registro">Registrarse</a>

                </div>


            </div>

        </div>

    </form>

</main>

<footer>

    <div class = "contenedor">

        <p><a href="https://booted-rifles.000webhostapp.com/index.html.html">Decodex</a>. Todos los derechos reservados &reg; 2019.</p>

        <div class="sociales">

            <a class="icon-instagram" href="https://www.instagram.com/decodex_oficial/"></a>
            <a class="icon-facebook-squared" href="https://www.facebook.com/Decodex-106447150711317/"></a>

        </div>

    </div>

</footer>

</body>
</html>