<html>
<head>
    <title>Añoranzas Chaqueñas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/reserva.css">

    <script type="text/javascript" src="formulario.js"></script>


</head>
    <body>

        <header>
           
            <div class="contenedor">
               
                <h1>Añoranzas Chaqueñas</h1>
                
                
                    <input type="checkbox" id = "menu-bar">
                    <label class = "icon-menu" for = "menu-bar"></label>

                <nav class = "menu">
                    <a href="/">Inicio</a>
                    <a href="/reserva">Reservas</a>
                    <a href="/actividades">Actividades</a>
                    <a href="/instalaciones">Instalaciones</a>
                    <a href="/contacto">Contacto</a>

                </nav>
            </div>
        </header>

        <main>



            <!--            <form action="#" class="form" method="post" name="form" onsubmit="return validarDatos()">-->

            <form action="https://probandocopia.herokuapp.com/addReservation" class="form" method="post">

                <h1>Reservas</h1>

                <div class="fechas">

                    <label>Fechas:</label>

                    <div class="entrada">

                        <input onfocus="(this.type='date')" id="fEntrada" placeholder="Fecha Entrada" required min="2019-10-22" name="entrada">

                    </div>

                    <div class="salida">

                        <input onfocus="(this.type='date')" id="fSalida" placeholder="Fecha salida" required min="2019-10-23" name="salida">

                    </div>



                </div>

                <div class="habitaciones">

                    <label for="habi">Seleccioná habitación: </label><br>

                    <select class="habi" id="habi" name="habitacion">

                        <option disabled selected value="0" >Habitaciones</option>

                        <option value="1">Simple / Doble Individual</option>

                        <option value="2"> Doble Matrimonial</option>

                        <option value="3"> Triple Individual</option>

                        <option value="4"> Triple Matrimonial</option>

                        <option value="5"> Cuádruple Matrimonial</option>

                        <option value="6"> Quíntuple / Séxtuple</option>

                        <option value="7"> Suite</option>

                    </select>

                    <select class="cant" id="cant"  name="cantidad">

                        <option disabled selected value="0">Cantidad</option>

                        <option value="1">1</option>

                        <option value="2">2</option>

                        <option value="3">3</option>

                        <option value="4">4</option>

                        <option value="5">5</option>

                    </select><br>

                </div>

                <div class="pago">

                    <label>Detalles de pago:</label><br>

                    <div class="datos">

                        <input type="text" placeholder="Nombre" class="nombre" id="nomb" required name="nombre">

                        <input type="number" placeholder="Numero de tarjeta" class="tarjeta" id="num" required title="Ingrese número de tarjeta de crédito" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="16" name="tarjeta">

                        <input onfocus="(this.type='date')" id="venc" placeholder="Fecha de expiración" class="vencimiento" title="Ingrese fecha de expiración" min="2019-10-30" required name="vencimiento">

                        <input type="password" placeholder="Código de seguridad" class="cod" id="cod" title="Ingrese código de 3 dígitos" required size="3" maxlength="3" name="contraseña">

                    </div>

                </div>

                <div class="confirmar">

                    <input type="submit" value="Reservar" class="botonReserva" >

                </div>


            </form>

        </main>


        <footer>

            <div class = "contenedor">

                <p><a href="https://booted-rifles.000webhostapp.com/index.html.html">Decodex</a>. Todos los derechos reservados &reg; 2019.</p>

                <div class="sociales">

                    <a class="icon-instagram" href="https://www.instagram.com/decodex_oficial/"></a>
                    <a class="icon-facebook-squared" href="https://www.facebook.com/Decodex-106447150711317/"></a>

                </div>

            </div>

        </footer>
        
    </body>
</html>